label{
   font-weight: 500;
   color: #15315e;
}

thead{
   text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

/* Firefox */
input[type=number] {
 -moz-appearance: textfield;
}

html, body{
  height: 100%;
  min-height: 100%;
  /* overflow: hidden; */
}

.page-title{
   margin-top: 50px;
}

footer {
  /* position: absolute; */
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgb(41, 115, 151);
  height: 30px;
}

/* #footer {
   bottom:0;
   width:100%;
   background-color:rgb(41, 115, 151);
} */

/*footer bawah*/
.bluefooter{
   bottom: 0;
   float: left;
   width: 50%;
   height: 15px;
   background-color: #204d95;
}
.yellowfooter{
   bottom: 0;
   float: left;
   width: 25%;
   height: 15px;
   background-color: #ffc107;
}
 .lightbluefooter{
   bottom: 0;
   float: left;
   width: 25%;
   height: 15px;
   background-color: #007bff;
}
/*POP UP*/
.myModal-custom {
 display: none; 
 position: fixed;
 padding-top: 100px; 
 left: 0;
 top: 0;
 width: 60px;
 height: 100%;
 overflow: auto;
 background-color: rgb(0,0,0); 
}

/* Modal Content */
.modal-content {
 background-color: #fefefe;
 margin: auto;
 padding: 20px;
 border: 1px solid #888;
 width: 80%;
}
.close{
   float: right;

}


/* Jenis project */
.row-container{
    min-height: 650px;
}

.navbar_custom{
   z-index:-1;
   position: fixed;
   width: 100%;
   background-color: #204d95;
   height: 10%;
}

.table-custom{
   margin: 10%;

}
/*untuk judul diatas tabel*/
.container-half{
   float: left;
   width: 50%;
   margin-bottom: 5px;
}

.container-half.right{
   text-align: right;
   padding-right: 10px;
}

.container-sixtyfive{
   float: left;
   width: 65%;
   margin-bottom: 5px;
}

/*posisi kolom opsi*/
td .table-option-row{
   text-align: center;
   padding: 5px;
   width: 10%;
}

